{% extends 'base.html'%}
{%block content %}
{% if user.is_authenticated %}
<p>Привет {{subscriber.second_name}}</p>
<p>Наличие блокиратора: {% if subscriber.check_block == True %}
    Да
{% else %}
    Нет
    {% endif %}
<p>Ваш район: {{ district.name }}</p>
<table class="table">
    <thead>
        <tr>
            <td>Номер телефона</td>
            <td>ID блокиратора</td>
            <td>Задолженность</td>
            <td>Дата создания</td>
          </tr>
    </thead>
    <tbody>
            {% for number in tel_number_list %}
            <tr>
              <td>{{number.id}}</td>
              <td>{{number.block_id}}</td>
              <td>{{number.debt}}</td>
              <td>{{number.date}}</td>
              </tr>
              {% endfor %}
    </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Добавить новый номер
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавление номера</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form action=" {% url 'add_number' %} " method="POST" class="form-signin">
            {% csrf_token %}
            <p>Выберите район,где будет использован номер:</p>
            <div class="form-group">
                <label for="sel1">Около какого метро вы проживаете?:</label>
                <select class="form-control" name="district" id="sel1" >
                  {% for district in district_list %}
                  <option value ='{{district.id}}' >{{district.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit" class="btn btn-lg btn-primary ">Добавить номер</button>
        </form>
        </div>
      </div>
    </div>
  </div>

{% else %}
<h1>Вы еще не явлеетесь нашим абонентом!</h1>
<a href="{% url 'reg' %}"><button class="btn btn-primary">Стать абонентом!</button></a>
{% endif %}
{% endblock %}